Class Project/Server/node_modules/*
PracticeMidterm/server/node_modules/*
Experimental/Server/node_modules/*
Forum/Server/node_modules/*
Midterm/Server/node_modules/*
Class Project/Server/Public/uploadedFiles*